@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-100 {
  margin-bottom: 100px; }

.ml-5 {
  margin-left: 5px; }

.pb-20 {
  padding-bottom: 20px !important; }

.text-capital {
  text-transform: uppercase; }

.text-low {
  text-transform: none !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-bold {
  font-weight: bold; }

.text-sm {
  font-size: 0.9em; }

.color-white {
  color: #fff; }

.color-primary {
  color: #6200EA; }

.color-alter {
  color: #FF8300; }

.bg-white {
  background-color: #fff; }

.border-right {
  border-right: 1px solid #ddd; }

.font-alter {
  font-family: Raleway; }

.tab-groups button.tablinks {
  background-color: transparent;
  border: 0;
  outline: 0; }

.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; }

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.uk-breadcrumb.tab-groups button.tablinks {
  color: #fff;
  font-size: 1.2em;
  height: 44px;
  position: relative; }

.uk-breadcrumb.tab-groups li {
  position: relative;
  z-index: 1;
  padding-right: 35px; }

.uk-breadcrumb.tab-groups li:hover:before {
  background: #5202C1; }

.uk-breadcrumb.tab-groups li:before {
  content: '';
  background: #6200EA;
  transform: skew(-33deg);
  -webkit-transform: skew(-33deg);
  position: absolute;
  left: -25px;
  top: 0;
  bottom: 0;
  width: 150%;
  z-index: -1;
  -webkit-transition: all .4s ease-in-out 0s;
  -moz-transition: all .4s ease-in-out 0s;
  -o-transition: all .4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; }

.uk-breadcrumb.tab-groups li.activeTab:before {
  background: #5202C1; }

.uk-breadcrumb.tab-groups > li:nth-child(n+2):before {
  content: ''; }

.input-group {
  position: relative;
  width: 100%;
  display: table;
  border-collapse: separate; }
  .input-group .form-control {
    display: table-cell;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 0; }
  .input-group input.form-control {
    transition: all 0.4s ease-in-out 0s; }
    .input-group input.form-control:hover, .input-group input.form-control:focus {
      outline: none;
      border-color: #6200EA; }

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0; }

.table-responsive {
  display: block;
  width: 100%;
  min-height: 0%;
  overflow-x: auto; }

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  background-color: transparent; }

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef; }

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef; }

.table-striped thead tr {
  background-color: #eee; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eee; }

.btn {
  padding: 7px 10px;
  min-width: 100px;
  background-color: transparent;
  -webkit-transition: 400ms all;
  outline: none;
  font-size: 1em;
  font-weight: bold;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase; }

.btn-alter {
  position: relative;
  outline: none;
  background-color: #FF8300;
  border: 2px solid #FF8300;
  color: #fff; }
  .btn-alter:hover {
    background-color: #fff;
    color: #FF8300; }

.btn-normal {
  position: relative;
  outline: none;
  background-color: #6200EA;
  border: 2px solid #6200EA;
  color: #fff; }
  .btn-normal:hover {
    background-color: #fff;
    color: #6200EA; }

.btn-attach {
  width: 100%; }

.btn-transparent {
  background: transparent;
  width: 100%; }

.moto-card {
  padding: 15px;
  background: url(../images/moto/racer.jpg) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  display: block;
  position: relative;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3); }
  .moto-card .logo {
    color: #fff;
    font-family: Play;
    text-align: center; }
  .moto-card .btn-attach {
    background-color: #FF8300;
    color: #fff;
    border: 2px solid #FF8300; }
    .moto-card .btn-attach:hover {
      background-color: transparent;
      color: #FF8300; }
  .moto-card .btn-transparent {
    border: 1px solid #FF8300;
    color: #FF8300; }
    .moto-card .btn-transparent:hover {
      background: #FF8300;
      color: #fff; }
  .moto-card__head {
    margin-top: -15px;
    padding: 5px 0; }
  .moto-card__footer {
    margin-bottom: -15px !important;
    padding-top: 5px;
    padding-bottom: 5px; }
  .moto-card .full-width {
    margin-left: -15px;
    margin-right: -15px; }

.static-list {
  list-style-type: none; }
  .static-list .item-group {
    display: block;
    width: 100%;
    padding: 0;
    cursor: pointer; }
    .static-list .item-group:before {
      content: '';
      height: 15px;
      display: block;
      clear: both;
      background-color: rgba(0, 0, 0, 0.1); }
    .static-list .item-group:last-child:after {
      content: '';
      height: 20px;
      display: block;
      clear: both;
      background-color: rgba(0, 0, 0, 0.1); }
    .static-list .item-group span.number {
      padding: 0;
      margin: 0;
      width: 2.5em;
      height: 3em;
      font-size: 1em;
      vertical-align: middle;
      text-align: center;
      line-height: 3em;
      color: #fff;
      font-weight: bold;
      display: block;
      float: left;
      background-color: rgba(98, 0, 234, 0.7); }
    .static-list .item-group img {
      display: block;
      float: left;
      width: 3em;
      height: 3em; }
    .static-list .item-group span.item-content {
      display: block;
      float: left;
      position: relative;
      width: calc(100% - 6.3em);
      font-size: 1em;
      line-height: 1.5em;
      background-color: #5D5D5D;
      color: #fff;
      font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      padding: 0 5px; }
      .static-list .item-group span.item-content strong {
        font-weight: normal;
        font-size: 0.9em; }
      .static-list .item-group span.item-content span {
        font-size: 0.9em; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.inline-tab {
  position: relative;
  overflow: hidden; }
  .inline-tab:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgba(93, 93, 93, 0.3);
    visibility: visible; }
  .inline-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    transition: 0.3s;
    font-size: 1.1em;
    font-family: Raleway;
    font-weight: bold;
    position: relative;
    text-decoration: none; }
  .inline-tab button:hover {
    color: #6200EA; }
  .inline-tab button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #6200EA;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .inline-tab button.active {
    color: #6200EA; }
  .inline-tab button:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .inline-tab button.active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #6200EA;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.tab-with-intro {
  padding-left: 0 !important;
  padding-right: 60px !important;
  text-align: left; }
  .tab-with-intro .tab-title {
    font-size: 1em;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
