@import url(http://fonts.googleapis.com/css?family=Play);
.match-list-single .match-list-item .versus {
  color: #fff; }

.contests-header {
  width: 100%;
  overflow: hidden; }
  .contests-header tbody tr {
    width: 30%;
    float: right; }
  .contests-header tbody tr:first-child {
    width: 63%;
    float: left; }
  .contests-header tr td {
    width: 100%;
    display: block;
    float: left;
    padding: 0; }
  .contests-header .table-search-input {
    position: relative;
    display: block; }
    .contests-header .table-search-input:hover:before {
      border-color: #6200EA; }
    .contests-header .table-search-input:before {
      content: '';
      position: absolute;
      top: 0;
      right: -15px;
      bottom: 0;
      transition: 400ms all;
      -webkit-transition: 400ms all;
      left: -15px;
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid #646464;
      transform: skew(-33deg);
      -webkit-transform: skew(-33deg); }
    .contests-header .table-search-input input[type="text"] {
      padding-left: 35px;
      margin: 0;
      width: 100% !important;
      height: 40px;
      line-height: 40px;
      border: 1px solid #646464;
      border-width: 0 0 0 1px;
      background: none;
      position: relative;
      z-index: 1;
      font-size: 16px;
      color: #555;
      font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      transition: all 0.4s ease-in-out 0s; }
      .contests-header .table-search-input input[type="text"]:hover {
        outline: none;
        border-color: #6200EA; }
      .contests-header .table-search-input input[type="text"]:focus {
        outline: none; }
    .contests-header .table-search-input i.uk-icon-search {
      position: absolute;
      top: 0;
      left: 10px;
      line-height: 40px;
      font-size: 1.3em;
      color: #646464; }
  .contests-header .moto-btn-wrap {
    padding: 2px 1px 2px 0;
    position: relative;
    border-right: 1px solid #6200ea;
    display: block; }
    .contests-header .moto-btn-wrap:before {
      content: '';
      position: absolute;
      border: 1px solid #6200ea;
      transform: skew(-33deg);
      -webkit-transform: skew(-33deg);
      top: 0;
      bottom: 0;
      left: -17px;
      right: -20px; }
  .contests-header .moto-btn-wrapper {
    position: relative;
    display: block; }
    .contests-header .moto-btn-wrapper:before {
      content: '';
      position: absolute;
      left: -15px;
      top: 0;
      bottom: 0;
      width: 100%;
      transition: 400ms all;
      -webkit-transition: 400ms all;
      background: #6200ea;
      transform: skew(-33deg);
      -webkit-transform: skew(-33deg); }
    .contests-header .moto-btn-wrapper:hover:before {
      background: #fff; }
    .contests-header .moto-btn-wrapper:hover .btn {
      background: #fff;
      color: #6200EA; }
  .contests-header .btn {
    width: 100%;
    border: 0;
    padding: 10px; }

.head-news-title h1 {
  font-family: Play; }

.moto-table td, .moto-table th {
  vertical-align: middle !important; }

.table-contests {
  background-color: #fff;
  border: 1px solid #ddd; }
  .table-contests th,
  .table-contests td {
    border-top: 1px solid #ddd; }
  .table-contests thead th {
    border-bottom: 2px solid #ddd;
    color: #555; }
  .table-contests td {
    color: #777;
    text-align: center;
    font-weight: bold; }
  .table-contests .col-contests {
    text-align: left;
    border-right: 1px solid #ddd; }
    .table-contests .col-contests span:not(.icon-status) {
      color: #6200EA;
      font-weight: bold;
      font-size: 1.1em; }
  .table-contests span.icon-status {
    color: #FF8300;
    margin-right: 5px; }
  .table-contests .btn-alter {
    font-size: 0.9em;
    font-weight: bold; }

.uk-breadcrumb.tab-profile {
  margin-bottom: 30px; }

#tabSupercross .inline-tab {
  margin-bottom: 20px; }
