.match-list-single .match-list-item .versus {
  color: #fff; }

.table-search-input.input-group {
  width: 50%;
  position: relative; }
  .table-search-input.input-group i.uk-icon-search {
    position: absolute;
    right: -10px;
    z-index: 4;
    font-size: 1.5em;
    line-height: 1.8em;
    color: #a6a6a6; }

.moto-table td, .moto-table th {
  vertical-align: middle !important; }

.table-contests {
  background-color: #534540; }
  .table-contests th,
  .table-contests td {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #fff; }
  .table-contests thead th {
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    color: #FF8300; }
  .table-contests td {
    color: #ccc;
    text-align: center; }
  .table-contests .col-contests {
    text-align: left; }
    .table-contests .col-contests span:not(.icon-status) {
      color: #fff; }
  .table-contests span.icon-status {
    color: #FF8300;
    margin-right: 5px; }
  .table-contests .btn-alter {
    font-size: 0.9em; }
