@import url(http://fonts.googleapis.com/css?family=Play);

$primary: #6200EA; // rgb(98, 0, 234)
$light-primary: #5202C1;
$alter: #FF8300;

$border: #ddd;

$font-normal: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-play: 'Play', sans-serif;

body {
    font-family: $font-normal;
}


.text-capital {
    text-transform: uppercase;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.color-primary {
    color: $primary;
}

.color-alter {
    color: $alter;
}

.border-right {
    border-right: 1px solid $border;
}

.tab-groups {
    button.tablinks {
        background-color: transparent;
        border: 0;
        outline: 0;
    }
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.uk-breadcrumb.tab-groups {
    button.tablinks {
        color: #fff;
        font-size: 1.2em;
        height: 44px;
        position: relative;
    }

    // button.tablinks.active:after {
    //     color: transparent;
    //     content: "";
    //     position: absolute;
    //     bottom: -1px;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    //     border-bottom: 7px solid #fff;
    //     border-left: 7px solid transparent;
    //     border-right: 7px solid transparent;
    //     width: 0;
    // }

    li {
        position: relative;
        z-index: 1;
        padding-right: 35px;
    }

    li:hover:before {
        background: $light-primary;
    }

    li:before {
        content: '';
        background: $primary;
        transform: skew(-33deg);
        -webkit-transform: skew(-33deg);
        position: absolute;
        left: -25px;
        top: 0;
        bottom: 0;
        width: 150%;
        z-index: -1;
        -webkit-transition: all .4s ease-in-out 0s;
           -moz-transition: all .4s ease-in-out 0s;
             -o-transition: all .4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
    }

    li.activeTab:before {
        background: $light-primary;
    }

    > li:nth-child(n+2):before {
        content: '';
    }
}

.input-group {
    position: relative;
    width: 100%;
    display: table;
    border-collapse: separate;

    .form-control {
        display: table-cell;
        position: relative;
        z-index: 2;
        width: 100%;
        margin-bottom: 0;
    }

    input.form-control {
        transition: all 0.4s ease-in-out 0s;

        &:hover,
        &:focus {
            outline: none;
            border-color: $primary;
        }
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}

.table-responsive {
    display: block;
    width: 100%;
    min-height: 0%;
    overflow-x: auto;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: transparent;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}


.table-striped {
    thead tr {
        background-color: #eee;
    }

    tbody tr:nth-of-type(odd) {
        background-color: #eee;
    }
}

.btn {
    padding: 7px 10px;
    min-width: 100px;
    background-color: transparent;
    -webkit-transition: 400ms all;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    font-family: $font-normal;
    text-transform: uppercase;
}

.btn-alter {
    position: relative;
    outline: none;
    background-color: $alter;
    border: 2px solid $alter;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: $alter;
    }
}

.btn-normal {
    position: relative;
    outline: none;
    background-color: $primary;
    border: 2px solid $primary;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: $primary;
    }
}


