@import url(http://fonts.googleapis.com/css?family=Play);


$primary: #6200EA; // rgb(98, 0, 234)
$light-primary: #5202C1;
$alter: #FF8300;

$border: #ddd;

$font-normal: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-play: 'Play', sans-serif;

.match-list-single {
    .match-list-item { 
        .versus {
            color: #fff;
        }
    }
}

.table-search-input.input-group {
    width: 50%;
    position: relative;

    i.uk-icon-search {
        position: absolute;
        right: -10px;
        z-index: 4;
        font-size: 1.5em;
        line-height: 1.8em;
        color: #a6a6a6;
    }
}

.moto-table td, .moto-table th {
    vertical-align: middle !important;
}

.table-contests {
    background-color: #fff;
    border: 1px solid #ddd;

    th,
    td {
        border-top: 1px solid #ddd;
    }

    thead th {
        border-bottom: 2px solid #ddd;
        color: #555;
    }

    td {
        color: #777;
        text-align: center;
        font-weight: bold;
    }

    .col-contests {
        text-align: left;
        border-right: 1px solid #ddd;

        span:not(.icon-status) {
            color: $primary;
            font-weight: bold;
            font-size: 1.1em;
        }
    }

    span.icon-status {
        color: $alter;
        margin-right: 5px;
    }

    .btn-alter {
        font-size: 0.9em;
        font-weight: bold;
    }
}

.head-news-title h1 {
    font-family: Play;
}
