@import url(http://fonts.googleapis.com/css?family=Play);


$primary: #6200EA; // rgb(98, 0, 234)
$light-primary: #5202C1;
$alter: #FF8300;

$border: #ddd;

$font-normal: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-play: 'Play', sans-serif;

.match-list-single {
    .match-list-item { 
        .versus {
            color: #fff;
        }
    }
}

.table-search-input.input-group {

}

.contests-header {
    width: 100%;
    overflow: hidden;

    tbody tr {
        width: 30%;
        float: right;
    }

    tbody tr:first-child {
        width: 63%;
        float: left;
    }

    tr td {
        width: 100%;
        display: block;
        float: left;
        padding: 0;
    }

    .table-search-input {
        position: relative;
        display: block;

        &:hover:before {
            border-color: $primary;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: -15px;
            bottom: 0;
            transition: 400ms all;
            -webkit-transition: 400ms all;
            left: -15px;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid #646464;
            transform: skew(-33deg);
            -webkit-transform: skew(-33deg);
        }

        input[type="text"] {
            padding-left: 35px;
            margin: 0;
            width: 100% !important;
            height: 40px;
            line-height: 40px;
            border: 1px solid #646464;
            border-width: 0 0 0 1px;
            background: none;
            position: relative;
            z-index: 1;
            font-size: 16px;
            color: #555;
            font-family: $font-normal;
            transition: all 0.4s ease-in-out 0s;

            &:hover {
                outline: none;
                border-color: $primary;
            }

            &:focus {
                outline: none;
            }
        }

        i.uk-icon-search {
            position: absolute;
            top: 0;
            left: 10px;
            line-height: 40px;
            font-size: 1.3em;
            color: #646464;
        }
    }

    .moto-btn-wrap {
        padding: 2px 1px 2px 0;
        position: relative;
        border-right: 1px solid #6200ea;
        display: block;

        &:before {
            content: '';
            position: absolute;
            border: 1px solid #6200ea;
            transform: skew(-33deg);
            -webkit-transform: skew(-33deg);
            top: 0;
            bottom: 0;
            left: -17px;
            right: -20px;
        }
    }

    .moto-btn-wrapper {
        position: relative;
        display: block;

        &:before {
            content: '';
            position: absolute;
            left: -15px;
            top: 0;
            bottom: 0;
            width: 100%;
            transition: 400ms all;
            -webkit-transition: 400ms all;
            background: #6200ea;
            transform: skew(-33deg);
            -webkit-transform: skew(-33deg);
        }

        &:hover:before {
            background: #fff;
        }

        &:hover .btn {
            background: #fff;
            color: $primary;
        }
    }

    .btn {
        width: 100%;
        border: 0;
        padding: 10px;
    }

}

.head-news-title h1 {
    font-family: Play;
}

.moto-table td, .moto-table th {
    vertical-align: middle !important;
}

.table-contests {
    background-color: #fff;
    border: 1px solid #ddd;

    th,
    td {
        border-top: 1px solid #ddd;
    }

    thead th {
        border-bottom: 2px solid #ddd;
        color: #555;
    }

    td {
        color: #777;
        text-align: center;
        font-weight: bold;
    }

    .col-contests {
        text-align: left;
        border-right: 1px solid #ddd;

        span:not(.icon-status) {
            color: $primary;
            font-weight: bold;
            font-size: 1.1em;
        }
    }

    span.icon-status {
        color: $alter;
        margin-right: 5px;
    }

    .btn-alter {
        font-size: 0.9em;
        font-weight: bold;
    }
}

.uk-breadcrumb.tab-profile {
    margin-bottom: 30px;
}

#tabSupercross .inline-tab {
    margin-bottom: 20px;
}

.match-view-wrap {
    .match-moto {
        .half {
            width: auto;
        }

        .versus {
            background-color: transparent;
            color: #fff;
            font-size: 2em;
            font-family: Play;
        }
    }
}

.moto-card__legend {
    font-family: "Play", sans-serif;
    color: $alter;
    font-weight: bold;

    a {
        color: $primary;
        font-size: 1.5em;
    }
}

.card-fixed {
    min-height: 600px;
}

.moto-card {
    .table-play {
        th, td {
            color: #fff;
            text-align: center;
            border-color: #555;
        }

        th {
            text-transform: uppercase;
            color: $primary;
        }

        .icon-status {
            font-size: 1.5em;
        }
    }
}

.mt-card {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 0;
    border: 1px solid #ddd;

    &__title {
        padding: 10px 15px;
        font-size: 1.5em;
        color: #333;
        font-weight: bold;
    }

    &__content {
        padding: 15px;
        position: relative;
    }

    &__image {
        display: block;
        position: relative;
        width: 100%;

        img {
            width: 100%;
            z-index: 3;
            -webkit-transition: all .4s ease-in-out 0s;
            -moz-transition: all .4s ease-in-out 0s;
            -o-transition: all .4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }

        .img-overlay {
            transition: all 0.4s ease-in-out 0s;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 2;
            text-align: center;
            background-color: rgba(123, 50, 223, 0.85);

            .animation {
                position: relative;
                top: 40%;
                -webkit-transition: all .4s ease-in-out 0s;
                -moz-transition: all .4s ease-in-out 0s;
                -o-transition: all .4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
                transform: scale(0.2);
                -webkit-transform: scale(0.2);
                -moz-transform: scale(0.2);
                -o-transform: scale(0.2);
            }
        }

        .btn-change-image {
            border: 2px solid #fff;
            background-color: transparent;
            color: #fff;
            font-weight: bold;
            border-radius: 0;
            position: relative;

            &:hover {
                background: #fff;
                color: $primary;
                -webkit-transition: background .8s;
                transition: background .8s;
            }
        }

        &:hover .img-overlay {
            opacity: 1;

            .animation {
                top: 40%;
                position: relative;
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
            }
        }
    }

    &__subheader {
        font-size: 18px;
        line-height: 1.5em;
        color: #555;
        margin-top: 7px;
    }

    &__description {
        font-size: 1em;
        font-weight: bold;
        white-space: normal;
        line-height: 1.2em;
        color: #555;
        margin-top: 10px;
    }

    &__link {
        font-size: 1.1em;
        color: $alter;
        font-weight: bold;
    }

    .item .icon-status {
        font-size: 1.5em;
        display: table-cell;
        width: 25px;
        height: 25px;
        padding: 0;
        margin: 0;
        background-color: #eee;
        vertical-align: middle;
        text-align: center;
        line-height: 25px;
        border-radius: 3px;
    }

    .table-play {
        border: 1px solid $border;

        th, td {
            text-align: center;
            font-weight: 600;
        }

        th {
            text-transform: uppercase;
        }

        thead tr {
            background-color: #eee;
        }
    }
}

.btn-select-racer {
    font-weight: bold;
    color: #999;
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 10px;
    font-size: 1.2em;
}

.button-cancel {
    margin: 0;
    height: 40px;
    width: 100px;
    line-height: 40px;
    position: relative;
    z-index: 1;
    display: block;
    float: left;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    &::before {
        font-size: 19px;
        position: absolute;
        color: #6200ea;
        left: 50%;
        margin-left: -4px;
    }

    &:last-child:before {
        font-size: 19px;
        position: absolute;
        color: #534540;
        left: 50%;
        margin-left: -4px;
    }

    &:last-child:hover {
        color: #534540;
    }

    &:last-child:after {
        content: '';
        width: 400%;
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        transform: skew(-33deg);
        background: #6200ea;
    }
}

.moto-card {
    .our-awards-btn {
        height: 40px;
        position: relative;
        right: 0;
        margin-right: 0;
    }

    .our-awards-main-wrap {
        padding: 0;
        display: block;
        position: relative;
    }
}

table.user-info {
    border: 0;

    th, td {
        border: 1px solid #eceeef;
    }

    td:first-child {
        border-left: 0;
    }

    td:last-child {
        border-right: 0;
    }

    td div {
        color: #555;
        font-size: 16px;
        line-height: 20px;
    }

    td span {
        font-weight: normal;
        color: #777;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

table.table-rating {
    th, td {
        text-align: left;
    }

    th {
        font-size: 15px;
        color: #777;
        font-family: $font-normal;
    }

    td.rating {
        .uk-icon-star {
            color: $alter;
        }
    }
}

.player-single .number {
    color: #fff;
}

.uk-container .activity-wrap {
    font-size: 100%;

    .text-meta {
        font-style: italic;
    }
}

.acymailing_form tr td input[type="submit"] {
    border: 0;
    color: #fff;
}

.progress-group {
    p {
        margin-bottom: 5px;
    }

    .uk-progress {
        margin-top: 0;
    }
}

